.ImgProduct{
    max-width: 60%;
    max-height: 80%;
    position: relative;
    left: 20%;
}
.Card{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
li{
    list-style: none;
    position: relative;
    left: -7%;
}
.fa.fa-star{
    color: rgb(230, 195, 40);
}
.Card-cart{
    position: relative;
    float: right;
    top:10px;
    cursor: pointer;
}